{% extends "base.html" %}

{% load static %}

  {% block content %}


<div class="row">

    <div class="col-md-12" style="background-color: #121212;padding-bottom: 50px;">

      <a href="UserProfile"><img style="margin-top:300px;margin-left:20px ;" src="{{UP.prof_pic}}" class="avatar avatar2" /></a>
      
    </div>

  </div>

    {% if ans %}

            <div style="margin-left:300px;margin-top:100px;font-family: bold;">

              {% if UP.user == request.user %}
              <h1 style="margin-left:400px;">Your Answers</h1>

              {% else %}
              <h1 style="margin-left:400px;">  {{UP.user.username|capfirst}}'s  Answers</h1>
              {% endif %}
            </div>


              {% for ans1 in ans.all %}

              <!-- {% ifchanged ans1.question.id %}
                        {% endifchanged %} -->
                        <div class="col-sm-8 setts1" style="margin-top:60px;margin-left:325px;background-color:#212529;border-radius:10px;">
                          <div>
                            <div>
                              <a href="{% url 'DetailProfile' ans1.user.id %}"><img src="{{ans1.user.prof_pic}}" class="avatar avatar1"/></a>
                              {% if ans1.user.user == request.user %}

                              <b style="margin-left:20px;color:white;"> You </b><p style="color:white;margin-left:820px;margin-top:-35px">{{ans1.dateTime}}
                              {% else %}
                              <b style="margin-left:20px;color:white;"> {{ans1.user.user.username|upper}} </b><p style="color:white;margin-left:820px;margin-top:-35px">{{ans1.dateTime}}
                              {% endif %}
                              </div>

                               <div style="margin-top:40px;margin-bottom:40px;">
                           </div>
                           <h4>
                            <a href="{% url 'ShowAnswer' ans1.question.id %}" style="color:#F77E7E;text-decoration:none;margin-left:60px;"><b class="question-title">{{ans1.question.q_title}}</b></a>
                           </h4>
                       </div>
                       <div class="q-lbtm-content" style="margin-top:30px;">
                           <div class="textStyle" style="margin-top:10px;margin-left:60px;color:white;">
                               <p><b>{{ans1.content}}</b></p>
                           </div>
                           <div class="question-cat" style="margin-top:30px;">
                               <ul class="ul1">
                                       <li style="margin-left:15px; margin-top:-10px">
                                           <button class="btn btn-primary btn3" >Tag</button>
                                       </li>
                               </ul>
                           
                           </div>
                           <hr/>
   

                      </div>

                    </div>
             <hr/>

            

             {% endfor %}
             
               
              {% else %}
             
              <center><h1 style="font-family:bold; margin-top:140px;padding-bottom:300px;">No Answers Yet</h1></center>
             
             {% endif %}
             



  {% endblock %}

